<div class="container">
  <div class="img-title">
    <%= link_to image_tag("default.png",alt:'default', class:'img-responsive')%>
    <div class="text-title">

      <sapn class="" style="font-size:15px">
        <b>人工智能</b>
      </span><br>
      ——<br>
      HKCE
    </div>

  </div>

  <div class="img-title">
    <%= link_to image_tag("default2.jpg",alt:'default', class:'img-responsive')%>
    <div class="text-title">

      <sapn class="" style="font-size:15px">
        <b>GoodLuck</b>
      </span><br>
      ——<br>
      bird
    </div>

  </div>
  <div class="img-title">
    <%= link_to image_tag("def.jpg",alt:'default', class:'img-responsive')%>
    <div class="text-title">

      <sapn class="" style="font-size:15px">
        <b>金融</b>
      </span><br>
      ——<br>
      MON
    </div>

  </div>
  <br>
  <br>

  <!-- 底部悬浮按钮 -->
  <div id="footer">
    <nav class="navbar-fixed-bottom">
      <div class="btn-group btn-group-lg btn-group-justified">
        <%= link_to "按时间",time_more_path,class:"btn btn-default btn-dy1" %>
        <%= link_to "按圈子",circle_more_path,class:"btn btn-default btn-dy2" %>

      </div>
    </nav>
  </div>
</div>
<style media="screen">
  .img-title {
    margin-top: 20px;
    margin-left: 20px;
    width: 120px;
    height: 190px;
    background-color: #CCFFFF;
    float: left;

  }
  .text-title {
    text-align: center;
    margin-top: 5px;
  }
  .img-responsive {
    width: 120px;
    height: 120px;
  }

</style>
