<div class="container">
  <div class="img-title">
    <p hidden="" class="hidden">circle_one.html</p>
    <!-- <%= link_to image_tag("default.png",alt:'default', class:'img-responsive')%> -->
    <div class="text-title">

      <sapn class="" >
        <b>人工智能</b>
      </span><br>
      ——<br>
      HKCE
    </div>

  </div>

  <div class="img-title">
    <p hidden="" class="hidden">circle_two.html</p>
    <!-- <%= link_to image_tag("default2.jpg",alt:'default', class:'img-responsive')%> -->
    <div class="text-title">
      <sapn class="" >
        <b>互联网er</b>
      </spanr><br>
      ——<br>
      Bird
    </div>
  </div>
  <div class="img-title">
    <p hidden="" class="hidden">circle_three.html</p>
    <!-- <%= link_to image_tag("def.jpg",alt:'default', class:'img-responsive')%> -->
    <div class="text-title">

      <sapn class="" >
        <b>金融</b>
      </span><br>
      ——<br>
      MON
    </div>

  </div>
  <br>
  <br>

  <!-- 底部悬浮按钮 -->
  <div id="footer">
    <nav class="navbar-fixed-bottom">
      <div class="btn-group btn-group-lg btn-group-justified">
        <%= link_to "按时间",time_more_path,class:"btn btn-default btn-dy1" %>
        <%= link_to "按圈子",circle_more_path,class:"btn btn-default btn-dy2" %>
      </div>
    </nav>
  </div>
</div>
<style media="screen">

  .btn-dy2 {
    background-color: #D8D8D8;
  }

  .img-title {
    margin-top: 20px;
    margin-left: 30px;
    width: 120px;
    height: 120px;
    background-color: #FAFAFA;
    border: 2px solid gray;
    float: left;
  }
  .text-title {
    font-size: 15px;

    font-family: fantasy;
    text-align: center;
    margin-top: 20px;
  }
  .text-title span{
     font-weight: bold;
  }
  .img-responsive {
    width: 120px;
    height: 120px;
  }

</style>
<script type="text/javascript">
  $(".img-title").click(function () {
    window.location.href=$(this).children(".hidden").text();
  });
</script>
