

  <div class="container" >
    <div class="" style="margin-top:20px"align="center">
      <div class="btn-group btn-group-lg">
      <%= link_to "按时间","#", class: 'btn  btn-success  btn-dy1'%>
      <%= link_to "按圈子","#" ,class: 'btn  btn-default  btn-dy2'%>
    </div>
    </div>
  <table class="table" style="margin-top:10px">
    <tr>
      <td width="20%">
          <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive" )%>
      </td>
      <td width="80%">

        简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive" )%>
      </td>
      <td>
        简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
      </td>
    </tr>
    <tr>
      <td>
          <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive" )%>
      </td>
      <td>
        简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
      </td>
    </tr>
    <tr>
      <td>
          <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive" )%>
      </td>
      <td>
        简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
      </td>
    </tr>

  </table>



</div>
<script type="text/javascript">
  $(".btn-dy1").click(function(){
    $(this).attr("class","btn btn-success btn-dy1");
    $(".btn-dy2").attr("class","btn btn-default btn-dy2");
    // alert($(this).attr("class"));
    return false;
  });
  $(".btn-dy2").click(function(){
    $(this).attr("class","btn btn-success btn-dy2");
    $(".btn-dy1").attr("class","btn btn-default btn-dy1");
    // alert($(this).attr("class"));
    return false;

  });
</script>
