
<div class="container">
  <div class="">
      <h1>我的圈子</h1>
      <h4><small>
        <%= link_to "创建",'static_pages/creat',class: " btn-lg btn-link btn-title"%>
        <%= link_to "最新",'#',class: " btn-lg btn-link btn-title"%>
        <%= link_to "更多",'static_pages/dynamic',class: " btn-lg btn-link btn-title"%>

        <!-- <button type="button" class="btn-link creat">创建</button> -->


        </small>
      </h4>
  </div>
  <table class="table">
    <tr>
      <td width="20%">
        <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive img-circle" )%>
        <!-- <%= link_to image_tag("rails.png", alt: "Rails logo" ),class: "img-responsive img-circle"%> -->
      </td>
      <td width="80%">
      <strong>ruby开发</strong> <span >邓超 2017年07月13日</span> <br/><p hidden>ruby</p>
        简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
        <span class="label label-info">编程</span>

      </td>
    </tr>
    <tr >
      <td>
      <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive img-circle" )%>
      </td>
      <td>
        <strong>ruby开发</strong> <span >邓超 2017年07月13日</span> <br/><p hidden>ruby</p>
        简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
        <span class="label label-info">编程</span>
      </td>
    </tr>
    <tr>
      <td>
      <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive img-circle" )%>
      </td>
      <td>
        <strong>ruby开发</strong> <span >邓超 2017年07月13日</span> <br/><p hidden>ruby</p>

        简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
        <span class="label label-info">编程</span><br>

      </td>
    </tr>
    <tr>
      <td>
      <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive img-circle" )%>
      </td>
      <td>
        <strong>ruby开发</strong> <span>邓超 2017年07月13日</span> <br/><p hidden>ruby</p>        简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
        <span class="label label-info">编程</span>
      </td>
    </tr>

  </table>




</div>



<style media="screen">
  span{
    color: #667
  }
</style>

<script type="text/javascript">
$("tr").click(function(){
  alert($(this).find('p').text());
});

</script>
