
  <div class="container" style="margin-top:20px">
    <table class="table">
      <tr>
        <td width="20%">
          <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive" )%>
          <!-- <%= link_to image_tag("rails.png", alt: "Rails logo" ),class: "img-responsive"%> -->
        </td>
        <td width="80%">
        <strong>ruby开发</strong> <span >邓超 2017年07月13日</span> <br/><p hidden>ruby</p>
          简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
          <span class="label label-info">编程</span>

        </td>
        <td>
          <%= link_to "加入",'#',class: " btn btn-success"%>
        </td>
      </tr>
      <tr >
        <td>
        <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive" )%>
        </td>
        <td>
          <strong>ruby开发</strong> <span >邓超 2017年07月13日</span> <br/><p hidden>ruby</p>
          简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
          <span class="label label-info">编程</span>
        </td>
        <td>
          <%= link_to "加入",'#',class: " btn btn-success"%>
        </td>
          </tr>
      <tr>
        <td>
        <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive" )%>
        </td>
        <td>
          <strong>ruby开发</strong> <span >邓超 2017年07月13日</span> <br/><p hidden>ruby</p>

          简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
          <span class="label label-info">编程</span><br>

        </td>
        <td>
          <%= link_to "加入",'#',class: " btn btn-success"%>
        </td>
      </tr>
      <tr>
        <td>
        <%= link_to image_tag("rails.png", alt: "Rails logo",class: "img-responsive" )%>
        </td>
        <td>
          <strong>ruby开发</strong> <span>邓超 2017年07月13日</span> <br/><p hidden>ruby</p>        简要介绍:一门开源的动态编程语言，注重简洁和效率。Ruby 的句法优雅，读起来自然，写起来舒适。
          <span class="label label-info">编程</span>
        </td>
        <td><%= link_to "加入",'#',class: " btn btn-success"%></td>
      </tr>

    </table>

  </div>
