<div class="container" style="margin-top:20px">

  <table style="border-collapse:separate; border-spacing:0px 15px;">
    <tr>
      <td><%= link_to image_tag("user2.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
      <td>&nbsp&nbsp物联网<br>&nbsp&nbspID: 23643432&nbsp&nbsp Summer</td>
    </tr>
    <tr>
      <td><%= link_to image_tag("user1.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
      <td>&nbsp&nbsp金融服务圈<br>&nbsp&nbspID: 23643432&nbsp&nbsp DefalHellma</td>
    </tr>
    <tr>
      <td><%= link_to image_tag("default3.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
      <td>&nbsp&nbspLinux<br>&nbsp&nbspID: 23643432&nbsp&nbsp Roamn</td>
    </tr>
    <tr>
      <td><%= link_to image_tag("default4.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
      <td>&nbsp&nbsp互联网<br>&nbsp&nbspID: 23643432&nbsp&nbsp Dock</td>
    </tr>
    <tr>
      <td><%= link_to image_tag("default5.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
      <td>&nbsp&nbsp图片<br>&nbsp&nbspID: 23643432&nbsp&nbsp YiMi</td>
    </tr>

  </table>

</div>
<style media="screen">
  table {
    margin-left: 10px;
  }
  .btn{
    margin-top: 7px;
  }

</style>
